parameters:
    phpVersion: 80100 # PHP 8.1
    level: 3
    paths:
        - src
        - tests
        - bin
    symfony:
        constantHassers: false
includes:
    - vendor/phpstan/phpstan-symfony/extension.neon